$primary: #002a36;
$primary-light: #01313f;
$dark: #01252f;
$green: #659b67;
$red: #b23e3e;
$text-color: #c9c9c9;
@mixin scrollbars(
  $size,
  $foreground-color,
  $background-color: mix($foreground-color, white, 50%)
) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}
.contain {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  padding: 1.5rem;
  @include scrollbars(10px, $primary, $dark);
  color: $text-color;
  .text,
  .table,
  .box,
  .point {
    margin-top: 2rem;
  }
  .text {
    font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 1.5rem;
  }
  .table {
    width: 100%;
    background-color: $primary;
    padding: 1.5rem;
    border: 1px solid $primary-light;
    th,
    td {
      border: 1px solid rgb(116, 116, 116);
      padding: 0.5rem;
    }
  }
  .box {
    ul {
      margin-top: -1rem;
      list-style: none;
      li {
        margin-top: 1rem;
      }
    }
  }
  .point {
    padding: 0rem 1rem 0rem 1rem;
    li {
      margin-top: 1rem;
      font-size: 1rem;
      letter-spacing: 0.5px;
      line-height: 1.5rem;
    }
  }
}
